nav {
    position: fixed;
}

nav li {
    list-style: none;
}

nav a {
    display: block;
    border: 2px solid black;
    padding: 6px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
    text-align: center;
}

code {
    background-color:#CCC;
    padding: 25px;
    display: block;
}

header {
    font-weight: bold;
    font-size: 32px;
}

header h1 {
    font-size: 28px;
}

main {
    margin-left: 370px;
    margin-right: 40px;
    margin-top: 40px;
}

@media screen and (max-width: 600px) {
    nav {
        position: relative;
    }

    main {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }
}